*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "josefin","sans-serif";
    font-weight: 300;
}

.main_section{
    min-height: 40rem;
    /* background-color: rgb(76, 170, 150); */
    display: grid;
    place-items: center;
}

.Q_A{
    width: 40vw;
    background-color: rgb(123, 193, 255);
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px black;
}
.Q_A h2{
    font-size: 20px;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
}

.Q_A li{
    font-size: 30px;
    margin-top: 1.5rem;
}

input{
    cursor: pointer;
}

#submit, .btn{
    padding: 1rem;
    outline: none;
    font-size: 2rem;
    font-weight: 400;
    display: block;
    margin: auto;
}

li{
    list-style: none;
}